.subTitle {
  font-size: 20px;
  font-weight: normal;
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}
.circle-purple {
  background: linear-gradient(
    to left,
    rgba(100, 19, 100, 0.822),
    rgba(100, 19, 100, 0.35)
  );
}
.circle-yellow {
  background-color: red;
  background: linear-gradient(to left, #d59203, #fff172);
}

.d-flex {
  display: flex;
}
.mr-60 {
  margin-right: 60px;
}
.ml-36 {
  margin-left: 36px;
}

.inputwrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  max-width: 50px;
}

.label {
  border: 5px solid #cfcece;
  border-radius: 8px;
}
.input {
  border: none;
  outline: none;
  width: 12px;
  height: 20px;
  font-size: 18px;
  font-weight: bold;
  caret-color: #ed696a;
}

.border-red {
  border: 5px solid #ed696a;
}

.p-30 {
  padding: 30px;
}
