body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.app {
  max-width: 960px;
  max-height: 540px;
}

.header {
  height: 150px;
  /* padding: 0px 5px 10px 5px; */
  text-align: center;
  max-width: 100%;
}
.header-count{
  padding: 0px;
}

.title {
  font-size: 28px;
  font-weight: bold;
}

.link-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}

.link {
  text-decoration: none;
  padding: 12px;
  border: 1px solid #59c2e2;
  border-radius: 5px;
  color: black;
}
.link:hover{
  background-color: #59c2e2;
  color: #fff;
}

.link:first-of-type{
  margin-right: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}